@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0;
	margin:0;
    
    
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
    max-width: 960px;
    margin: 0 auto;
    
}
header{
    background: url(../img/moon-header.jpg) no-repeat right center #000000;
}
h1, h2, h3, h4{
	font-family:'droidserif', serif;  /* you need a font stack here */
    padding: 10px 40px;
    text-shadow: 2px 2px #333;
}
h1{
    font-family: droid serif;
	font-size: 6.854rem;
    color: white;
    width: 65%;
    min-height: 400px;
    text-shadow: 4px 4px #333;
    text-align: center;
    
}
h2{
	
}
h3{
	
}
h4{
	
}
p, li, a{
	font-family: 'droid sans', sans-serif; /* you need a font stack here */
    font-size: 1rem;
    
    
}
p{
   margin-bottom: 5%;
    padding: 0px 40px;
    line-height: 2rem;
}
img{
	width:80%;
	max-width: 100%;
	box-sizing: border-box;
    
}
ul{
	list-style-type: none;
    padding-left: 5%;
    
    
    
}
a:link, a:visited{
	transition: all 0.8s linear;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
}
.header{
	background-color: #000;
    min-height: 400px;
}
.main{
	
}
.footer{
    padding: 10px 40px;
    background:#333;
    height: 228px;
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
    color: #C30;
    padding: 1%; 
    width: 45%;
    float: left;
    
    
    
	
}
.footer a:hover,
.footer a:active,
.footer a:focus{
	color: #BADA55;
    font-size: 1.03rem;
}


/***********************************
		CONTENT
***********************************/
.header h1{
    
}
.main h2{
	color:#CC3300;
    font-size:4.236rem;
    font-family: 'droid serif';
    
}
.main h3{
	color:#CC3300;
    font-family: 'droid serif';
    font-size:2.618rem;
}
.main p{
	
}
.main img{
    float: left;
    width: 17%;
    border-radius: 35%;
	/* use border-radius to crop image */
	/* choose a width percentage for the image too */
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
    
    
}
.footer p{
    background:#333;
    clear: both;
    padding: 40px 10px 5px 10px;
}
.footer li{
    
    width 50%;
    
    /* make these 50% the width of the footer */
}
